<section id="historia">
  
  <div class="hist-header">
    <span class="gold-subtitle">Més que un club</span>
    <h2 class="hist-title">La Nostra Llegenda</h2>
    <p class="hist-description">
      Viatja a través de 125 anys d'història. Des dels inicis de Gamper fins a la glòria eterna del sextet.
    </p>
    
    <button id="toggle-gallery" class="btn-visual-premium">
      <span>OBRIR GALERIA</span>
      <i class="arrow-icon">↓</i>
    </button>
  </div>

  <div id="galeria" class="galeria-hidden">
    <div class="cards-grid">
      
      <article class="cine-card">
        <div class="slider-wrapper">
          <img src="imatges/champions-1992.jpeg" class="slide-img active" alt="Wembley">
          <img src="imatges/champions-2006.jpeg" class="slide-img" alt="Paris">
          <img src="imatges/champions-2015.jpeg" class="slide-img" alt="Berlin">
          
          <div class="overlay-gradient"></div>
          
          <div class="card-text">
            <h3>Europa als peus</h3>
            <p>Les 5 Champions League.</p>
          </div>

          <button class="nav-btn prev">❮</button>
          <button class="nav-btn next">❯</button>
        </div>
      </article>

      <article class="cine-card">
        <div class="slider-wrapper">
          <img src="imatges/masia-messi.jpeg" class="slide-img active" alt="Masia">
          <img src="imatges/masia-supercopa.jpeg" class="slide-img" alt="Equip">
          
          <div class="overlay-gradient"></div>
          
          <div class="card-text">
            <h3>Made in La Masia</h3>
            <p>Un estil únic al món.</p>
          </div>

          <button class="nav-btn prev">❮</button>
          <button class="nav-btn next">❯</button>
        </div>
      </article>

      <article class="cine-card">
        <div class="slider-wrapper">
          <img src="imatges/historia-escut.jpeg" class="slide-img active" alt="Escut antic">
          <img src="imatges/historia-camp.jpeg" class="slide-img" alt="Camp">
          
          <div class="overlay-gradient"></div>
          
          <div class="card-text">
            <h3>Orígens 1899</h3>
            <p>L'inici del somni.</p>
          </div>

          <button class="nav-btn prev">❮</button>
          <button class="nav-btn next">❯</button>
        </div>
      </article>

    </div>
  </div>
</section>